<div class="modal-general">
  <div class="modal-content modal-dialog">
    <mat-dialog-content class="mat-typography modal-body modal-details text-start">
      <h3 class="titulo">
        Información
      </h3>
      <div class="row">
        <div class="col-12 ">
          <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Detalles">
              <div class="info" *ngIf="objectDetails">
                <strong> {{ objectDetails.incidence_type }} </strong><label class="mb-3"> Tipo</label>
                <strong> {{ objectDetails.description }} </strong><label class="mb-3"> Descripción</label>

                <strong> {{ objectDetails.status }} </strong><label class="mb-3"> Estado</label>
                <strong> {{ objectDetails.created_at }} </strong><label class="mb-3"> Fecha de creación </label>
                <strong> {{ objectDetails.updated_at }} </strong><label class="mb-3"> Fecha de actualizacion
                </label>
                <strong *ngIf="objectDetails.deleted_at"> {{ objectDetails.deleted_at }} </strong><label class="mb-3"
                  *ngIf="objectDetails.deleted_at"> Fecha de eliminación </label>
              </div>
            </mat-tab>
            <mat-tab label="Incidencias">
              <div *ngIf="objectDetails.incidences">
                <div class="logistify-table table-delete-false" *ngIf="objectDetails.incidences.length > 0">
                  <table mat-table matSort class="w-100" [dataSource]="objectDetails.incidences">
                    <ng-container matColumnDef="incidence">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Incidencia</th>
                      <td mat-cell *matCellDef="let element"> {{element.incidence}} </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef> Descripción </th>
                      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[15, 30, 45]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>

                <strong class="p-2 d-block" *ngIf="objectDetails.incidences.length === 0">
                  No existen elementos para mostrar.</strong>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-dialog-content>
    <button class="btn btn-morado btn-cuadrado" type="button" mat-dialog-close>
      Cerrar
    </button>
  </div>
</div>