<div class="modal-general">
  <div class="modal-content modal-dialog">
    <mat-dialog-content class="mat-typography modal-body modal-details text-start">
      <h3 class="titulo text-center"> Actualizar mi perfil </h3>
      <div class="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <form class="row" [formGroup]="updateFormGroup" *ngIf="!loading">
              <p class="mb-3"> Datos de contacto </p>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre(s)</mat-label>
                  <input matInput type="text" formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Primer apellido</mat-label>
                  <input matInput type="text" formControlName="lastname">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Segundo apellido</mat-label>
                  <input matInput type="text" formControlName="surname">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Nombre de usuario</mat-label>
                  <input matInput type="text" formControlName="username">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Correo electrónico</mat-label>
                  <input matInput formControlName="email" email>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Teléfono</mat-label>
                  <input matInput type="number" formControlName="phone">
                </mat-form-field>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                  <mat-label>Área</mat-label>
                  <input matInput formControlName="area" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Puesto</mat-label>
                  <input matInput formControlName="stall" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Rol</mat-label>
                  <input matInput formControlName="role" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Estado</mat-label>
                  <input matInput formControlName="status" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Antiguedad</mat-label>
                  <input matInput formControlName="created_at" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Último cambio</mat-label>
                  <input matInput formControlName="updated_at" readonly>
                </mat-form-field>
              </div>
              <hr>
              <p class="mb-3"> Información adicional </p>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <mat-form-field appearance="outline">
                  <mat-label>Descripción</mat-label>
                  <input matInput type="text" formControlName="description">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                  <mat-label>Fecha nacimiento</mat-label>
                  <input matInput type="date" formControlName="birth_date">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Sexo</mat-label>
                  <mat-select formControlName="sex">
                    <mat-option value="MUJER">Femenino</mat-option>
                    <mat-option value="HOMBRE">Masculino</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Otro teléfono</mat-label>
                  <input matInput type="number" formControlName="home_phone">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Link personal</mat-label>
                  <input matInput type="url" formControlName="link">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Sitio web</mat-label>
                  <input matInput type="url" formControlName="website">
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="outline">
                  <mat-label>Youtube</mat-label>
                  <input matInput type="url" formControlName="youtube">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Instagram</mat-label>
                  <input matInput type="url" formControlName="instagram">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Twitter</mat-label>
                  <input matInput type="url" formControlName="twiter">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Linkendin</mat-label>
                  <input matInput type="url" formControlName="linkendin">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Facebook</mat-label>
                  <input matInput type="url" formControlName="facebook">
                </mat-form-field>
              </div>

              <div class="controls text-center">
                <button mat-button class="btn btn-secondary mx-2" (click)="onSubmit()">Actualizar perfil</button>
              </div>
            </form>
            <div class="loading text-center" *ngIf="loading">
              <img width="45%" height="45%" src="assets/img/loader.svg">
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <button class="btn btn-morado btn-cuadrado" type="button" mat-dialog-close> Regresar </button>
  </div>
</div>