
<main class="main-content">
  <div class="container-fluid header_pages">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <h2>Listado de permisos <span *ngIf="dataDeleted">eliminados</span></h2>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-md-end" *appHaveAccess="'admin.permission.index'">
        <button class="btn btn-secondary" (click)="changeDeleteData()" *ngIf="!dataDeleted"> Permisos eliminados </button>
        <button class="btn btn-secondary" (click)="changeDeleteData()" *ngIf="dataDeleted"> Listado permisos </button>
      </div>
    </div>
  </div>
  <div class="container-fluid logistify-table tableUsers mt-3">
    <div class="row">
       <div class="col-12 p-md-4 logistify-table">
        <div class="row mb-3">
          <div class="col-lg-8 col-md-8 col-sm-12 form">
            <div class="input-group">
              <mat-form-field appearance="outline">
                <mat-label>Buscar un permiso</mat-label>
                <input matInput (keyup)="applyFilter($event)">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div *appHaveAccess="'permission.store'" class="col-lg-4 col-md-4 col-sm-12 text-end text-md-start">
            <button class="btn btn-primary w-100" (click)="openModalCreate()" *ngIf="!dataDeleted">
              <mat-icon aria-hidden="false" aria-label="Agregar nueva" fontIcon="add"></mat-icon> Agregar permiso
            </button>
          </div>
        </div>
        <div class="mat-elevation-z8" *ngIf="!loading">
          <table mat-table matSort [dataSource]="dataSource" [class.mat-data-deleted]="dataDeleted">
            <ng-container matColumnDef="permission">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre permiso </th>
              <td mat-cell *matCellDef="let element"> {{element.permission}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="classification_id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Clasificacion </th>
              <td mat-cell *matCellDef="let element"> {{element.classification?.classification}} </td>
            </ng-container>
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Creado </th>
              <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
            </ng-container>
            <ng-container matColumnDef="updated_at">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Actualizado </th>
              <td mat-cell *matCellDef="let element"> {{element.updated_at}} </td>
            </ng-container>

            <!-- Actions -->
            <ng-container *appHaveAccess="'permission.show'" matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon fontIcon="info" (click)="openModalDetails(element.id)"></mat-icon>
              </td>
            </ng-container>
            <ng-container *appHaveAccess="'permission.update'" matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon fontIcon="edit" (click)="openModalUpdate(element.id)" *ngIf="!dataDeleted">
                </mat-icon>
              </td>
            </ng-container>
            <ng-container *appHaveAccess="'admin.permission.restore'" matColumnDef="restore">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon fontIcon="restore_page" (click)="openModalRestore(element.id)" *ngIf="dataDeleted">
                </mat-icon>
              </td>
            </ng-container>
            <ng-container *appHaveAccess="'permission.destroy'" matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon fontIcon="delete" (click)="openModalDelete(element.id)"></mat-icon>
              </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell text-center" [colSpan]="displayedColumns.length">
                <strong class="p-2"> {{ messageEmpty }} </strong>
              </td>
            </tr>
          </table>
          
          <mat-paginator
            showFirstLastButtons
            color="warn"
            [length]="totalResult"
            [pageSize]="itemPerPage"
            [pageSizeOptions]="pageSizeOptions">
          </mat-paginator>
        </div>
        
        <div class="loading" *ngIf="loading">
          <img width="45%" height="45%" src="assets/img/loader.svg">
        </div>

      </div>
    </div>
  </div>
</main>