<div class="modal-general">
    <div class="modal-content modal-dialog">
      <mat-dialog-content class="mat-typography modal-body">
        <h3 class="titulo"> Datos para cotizar masivamente </h3>
        <div class="form form-step">
          <form [formGroup]="formGroup">
            <div class="container">
              <div class="row mt-3">
                <h4 class="text-start">Información cliente</h4>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Seleccione un cliente</mat-label>
                    <mat-select formControlName="id_customer" [(ngModel)]="customer_id" (selectionChange)="chageClientSelected()">
                      <mat-option *ngFor="let item of listCustomers" [value]="item.id">
                        {{ item.business_name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Seleccione los productos</mat-label>
                    <mat-select formControlName="products" multiple>
                      <mat-option *ngFor="let item of listServicesClient" [value]="item.service_id">
                        {{ item.service.service }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <h4 class="text-start">Cantidad de productos y sobres</h4>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Número de paquetes</mat-label>
                    <input matInput type="number" formControlName="package_quantity" min="0" [(ngModel)]="num_packages">
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Número de sobres</mat-label>
                    <input matInput type="number" formControlName="envelope_quantity" min="0" [(ngModel)]="num_envelopes">
                </mat-form-field>
                </div>
              </div>
              <div class="row">
                <h4 class="text-start">¿Cuántos son multipieza?</h4>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <mat-form-field appearance="outline">
                    <mat-label>Número de multipiezas</mat-label>
                    <input matInput type="number" formControlName="package_multipece_quantity" min="0"  [(ngModel)]="multipieza">
                  </mat-form-field>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <small class="error d-block text-start invalid-feedback mt-2" *ngIf="errorMessages"
                    [innerHTML]="errorMessages"></small>
                </div>
              </div>
              <div class="controls">
                <button  mat-raised-button matTooltip="Generar plantilla de excel" (click)="export()" *ngIf="!downloadTemplate">
                  Generar plantilla excel
                </button>
                <mat-stepper [linear]="" #stepper *ngIf="downloadTemplate">
                  <mat-step [stepControl]="formGroup" label="Generar plantilla">
                    <mat-card class="mb-3">
                      <mat-card-content>
                        <button class="btn mb-3" *ngIf="!disabledBtnExcel" (click)="downloadFileQuote(customer_id, num_packages, num_envelopes, multipieza, 'template_quote_masive.xlsx')">Descargar plantilla excel</button>
                        <a class="text-center" *ngIf="disabledBtnExcel">
                          <mat-spinner class="text-center" diameter="40" strokeWidth="3"></mat-spinner>
                        </a>
                        <!-- Simple card -->
                      </mat-card-content>
                    </mat-card>
                    <div>
                      <button mat-raised-button matStepperNext> Siguiente </button>
                    </div>
                  </mat-step>
                  <mat-step [stepControl]="formGroup" label="Importar plantilla">
                    <form [formGroup]="formGroup">
                      <mat-card class="mb-3">
                        <mat-card-content>
                          <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                              <div class="form-group">
                                <label for="importAdditionalFile" class="col-10 mat-focus-indicator mat-stroked-button mat-button-base">Cargar plantilla excel</label>
                                <input type="file" id="importAdditionalFile" (change)="importAdditional($event)"
                                  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="opacity: 0;" >
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                              <span class="" *ngIf="fileData"> {{ fileData.name }} </span>
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                      <div>
                        <button mat-raised-button matStepperPrevious> Anterior </button>
                        <button mat-raised-button matStepperNext> Siguiente </button>
                      </div>
                    </form>
                  </mat-step>
                  <mat-step label="Procesar cotización">
                    <mat-card class="mb-3">
                      <mat-card-content>
                        <button  mat-raised-button class="btn btn-secondary" *ngIf="uploadFile && !submittedForm" (click)="onSubmit()">Procesar cotización masiva</button>
                        <button  mat-raised-button class="btn btn-secondary" *ngIf="submittedForm" disabled> Procesar cotización masiva </button>
                        <p *ngIf="!uploadFile">
                          <button mat-raised-button matStepperPrevious><mat-icon fontIcon="arrow_back"></mat-icon></button>
                          Carga tu plantilla con la información correcta
                        </p>
                      </mat-card-content>
                    </mat-card>
                  </mat-step>
                </mat-stepper>
              </div>
            </div>
          </form>
        </div>
      </mat-dialog-content>
      <button class="btn btn-morado btn-cuadrado" type="button" mat-dialog-close>
        Cancelar
      </button>
    </div>
</div>
  