<main class="login restorePass" fxLayout="row" fxLayoutAlign="space-around center">
  <section class="container login">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <p class="w-100 mb3"><strong>Ingresa el correo electrónico con el que te registraste</strong></p>
        <form class="login-form" #restoreForm="ngForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
              <mat-label> Correo electrónico </mat-label>
              <input matInput placeholder="Correo electrónico" [(ngModel)]="email" name="email" required email>
              <mat-error> Por favor ingrese una dirección de correo electrónico válida </mat-error>
            </mat-form-field>
          <div class="row justify-content-center">
            <div class="col-6 mb-1">
              <button type="submit" mat-raised-button color="primary" *ngIf="!submitted" [disabled]="!restoreForm.form.valid"> Recuperar contraseña </button>
            </div>
            <div class="col-7">
              <mat-spinner class="m-auto" [diameter]="50" *ngIf="submitted"></mat-spinner>
            </div>
          </div>
          <a [routerLink]="['/login']" class="btn btn-link"> Regresar </a>
        </form>
      </div>
    </div>
  </section>
</main>