<div class="modal-general">
  <div class="modal-content modal-dialog">
    <mat-dialog-content class="mat-typography modal-body modal-details text-start">
      <h3 class="titulo text-center">
        Detalle cotización
      </h3>
      <div class="row">
        <div class="col-12" *ngIf="!loading">
          <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Información">
              <div class="row info" *ngIf="objectDetails.datas">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center p-5">
                    <img [src]="objectDetails.datas.courier.image" alt="Mensajería" class="w-100">
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <strong> {{ objectDetails.datas.courier.courier }} </strong><label class="mb-3"> Mensajería </label>
                    <strong> {{ objectDetails.datas.service.service }} </strong><label class="mb-3"> Producto </label>
                    <strong> {{ objectDetails.datas.service.service_type }} </strong><label class="mb-3"> Tipo de producto </label>
                    <strong> {{ objectDetails.datas.profile.profile }} </strong><label class="mb-3"> Perfil </label>
                    <strong> {{ objectDetails.datas.type_price.price_type }} </strong><label class="mb-3"> Tipo de precio </label>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <strong> {{ objectDetails.customer.business_name }} </strong><label class="mb-3"> Cliente </label>
                    <strong> {{ objectDetails.datas.profile.profile }} </strong><label class="mb-3"> Perfil </label>
                    <strong> {{ objectDetails.user.username }} </strong><label class="mb-3"> Colaborador </label>
                    <strong> {{ objectDetails.dates.quote_start }} </strong><label class="mb-3"> Fecha cotización </label>
                    <strong> {{ objectDetails.dates.quote_limit }} </strong><label class="mb-3"> Fecha limite </label>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <h4 class="text-start">Datos origen</h4>
                    <strong> {{ objectDetails.origin.postal_code }} </strong><label class="mb-3"> Código postal </label>
                    <strong> {{ objectDetails.origin.state }} </strong><label class="mb-3"> Estado </label>
                    <strong> {{ objectDetails.origin.city }} </strong><label class="mb-3"> Ciudad </label>
                    <strong> {{ objectDetails.origin.municipality }} </strong><label class="mb-3"> Municipio </label>
                    <strong> {{ objectDetails.origin.settlement }} </strong><label class="mb-3"> Colonia </label>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <h4 class="text-start">Datos destino</h4>
                    <strong> {{ objectDetails.destin.postal_code }} </strong><label class="mb-3"> Código postal </label>
                    <strong> {{ objectDetails.destin.state }} </strong><label class="mb-3"> Estado </label>
                    <strong> {{ objectDetails.destin.city }} </strong><label class="mb-3"> Ciudad </label>
                    <strong> {{ objectDetails.destin.municipality }} </strong><label class="mb-3"> Municipio </label>
                    <strong> {{ objectDetails.destin.settlement }} </strong><label class="mb-3"> Colonia </label>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <strong> {{ objectDetails.status }} </strong><label class="mb-3"> Estado</label>
                    <strong> {{ objectDetails.created_at }} </strong><label class="mb-3"> Creado </label>
                    <strong> {{ objectDetails.updated_at }} </strong><label class="mb-3"> Actualizado </label>
                    <!-- Buttons -->
                    <button class="btn btn-danger mb-3 text-center" *ngIf="!disabledBtnPdf" (click)="downloadQuotePdf(objectDetails.id, objectDetails.customer.slug + '.pdf')"> Descargar PDF </button>
                    <button class="btn btn-danger mb-3 text-center" *ngIf="disabledBtnPdf" disabled> Descargar PDF </button>
                    <br>
                    <button class="btn btn-success mb-3 text-center" *ngIf="!disabledBtnGuide" (click)="generateGuideByQuote(objectDetails)"> Generar guía </button>
                    <button class="btn btn-success mb-3 text-center" *ngIf="disabledBtnGuide" disabled> Generar guía </button>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Paquetes">
              <div *ngIf="objectDetails.packages">
                <div class="logistify-table" *ngIf="objectDetails.packages.length > 0">
                  <table mat-table matSort class="w-100" [dataSource]="objectDetails.packages">
                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>
                    <ng-container matColumnDef="long">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Largo </th>
                      <td mat-cell *matCellDef="let element"> {{element.long}} </td>
                    </ng-container>
                    <ng-container matColumnDef="width">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ancho </th>
                      <td mat-cell *matCellDef="let element"> {{element.width}} </td>
                    </ng-container>
                    <ng-container matColumnDef="high">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Alto </th>
                      <td mat-cell *matCellDef="let element"> {{element.high}} </td>
                    </ng-container>
                    <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Peso </th>
                      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="campaign">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Campaña </th>
                      <td mat-cell *matCellDef="let element"> {{element.campaign}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cost_center">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> C.c. </th>
                      <td mat-cell *matCellDef="let element"> {{element.cost_center}} </td>
                    </ng-container>
                    <ng-container matColumnDef="content">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contenido </th>
                      <td mat-cell *matCellDef="let element"> {{element.content}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns_Payload"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns_Payload;"></tr>
                  </table>
                  <mat-paginator
                    showFirstLastButtons
                    color="warn"
                    [length]="objectDetails.packages.length"
                    [pageSize]="itemPerPage"
                    [pageSizeOptions]="pageSizeOptions">
                  </mat-paginator>
                </div>
                <strong class="p-2 d-block text-center" *ngIf="objectDetails.packages.length === 0"> {{ messageEmpty }} </strong>
              </div>
            </mat-tab>
            <mat-tab label="Precios">
              <div *ngIf="objectDetails.numbers">
                <div class="row info" *ngIf="objectDetails.numbers.total">
                  <div class="col-12 col-md-4 col-sm-12" *ngIf="objectDetails.numbers">
                    <strong> {{ objectDetails.numbers.additional_days }} </strong><label class="mb-3"> Días adicionales </label>
                    <strong> {{ objectDetails.numbers.pieces }} </strong><label class="mb-3"> Piezas </label>
                    <strong> {{ objectDetails.numbers.weight }} kg</strong><label class="mb-3"> Peso </label>
                    <strong> {{ objectDetails.numbers.value_declared.toFixed(2) }} </strong><label class="mb-3"> Valor declarado </label>
                  </div>
                  <div class="col-12 col-md-4 col-sm-12" *ngIf="objectDetails.numbers">
                    <strong> ${{ objectDetails.numbers.charges_add.toFixed(2) }} </strong><label class="mb-3"> Cargos adicionales </label>
                    <strong> ${{ objectDetails.numbers.freight.toFixed(2) }} </strong><label class="mb-3"> Transporte </label>
                    <strong> ${{ objectDetails.numbers.fuel.toFixed(2) }} </strong><label class="mb-3"> Combustible </label>
                    <strong> ${{ objectDetails.numbers.secure.toFixed(2) }} </strong><label class="mb-3"> Seguro </label>
                  </div>
                  <div class="col-12 col-md-4 col-sm-12" *ngIf="objectDetails.numbers">
                    <strong> ${{ objectDetails.numbers.subtotal.toFixed(2) }}</strong><label class="mb-3"> Subtotal </label>
                    <strong> ${{ objectDetails.numbers.iva.toFixed(2) }}</strong><label class="mb-3"> IVA </label>
                    <strong> ${{ objectDetails.numbers.total.toFixed(2) }}</strong><label class="mb-3"> Total </label>
                  </div>
                </div>
                <strong class="p-2 d-block text-center" *ngIf="!objectDetails.numbers.total">
                  Esta cotización no encontro un precio de acuerdo al origen, destino, producto y perfil
                </strong>
              </div>
            </mat-tab>
            <mat-tab label="Cargos Adicionales">
              <div *ngIf="objectDetails.charges">
                <div class="logistify-table table-delete-false" *ngIf="objectDetails.charges.length > 0">
                  <table mat-table matSort class="w-100 text-start" [dataSource]="objectDetails.charges">
                    <ng-container matColumnDef="service">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
                      <td mat-cell *matCellDef="let element"> {{element.service}} </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>
                    <ng-container matColumnDef="by_search">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Buscado por </th>
                      <td mat-cell *matCellDef="let element"> {{element.find_by}} </td>
                    </ng-container>
                   
                    <tr mat-header-row *matHeaderRowDef="columsChargesAdd"></tr>
                    <tr mat-row *matRowDef="let row; columns: columsChargesAdd;"></tr>
                  </table>
                  <mat-paginator
                    showFirstLastButtons
                    color="warn"
                    [length]="objectDetails.charges.length"
                    [pageSize]="itemPerPage"
                    [pageSizeOptions]="pageSizeOptions">
                  </mat-paginator>
                </div>
                <strong class="p-2 d-block text-center" *ngIf="objectDetails.charges.length === 0">{{ messageEmpty }}</strong>
              </div>
            </mat-tab>
            <mat-tab label="Servicios Adicionales">
              <div *ngIf="objectDetails.services">
                <div class="logistify-table table-delete-false" *ngIf="objectDetails.services.length > 0">
                  <table mat-table matSort class="w-100 text-start" [dataSource]="objectDetails.services">
                    <ng-container matColumnDef="service">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </th>
                      <td mat-cell *matCellDef="let element"> {{element.service}} </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>
                    <ng-container matColumnDef="by_search">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Buscado por </th>
                      <td mat-cell *matCellDef="let element"> {{element.find_by}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columsServicesAdd"></tr>
                    <tr mat-row *matRowDef="let row; columns: columsServicesAdd"></tr>
                  </table>
                  <mat-paginator
                    showFirstLastButtons
                    color="warn"
                    [length]="objectDetails.services.length"
                    [pageSize]="itemPerPage"
                    [pageSizeOptions]="pageSizeOptions">
                  </mat-paginator>
                </div>
                <strong class="p-2 d-block text-center" *ngIf="objectDetails.services.length === 0"> {{ messageEmpty }} </strong>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="loading d-flex justify-content-center" *ngIf="loading">
          <img width="30%" src="assets/img/loader.svg">
        </div>
      </div>
    </mat-dialog-content>
    <button class="btn btn-morado btn-cuadrado" type="button" mat-dialog-close>
      Cerrar
    </button>
  </div>
</div>
