<div class="modal-general">
  <div class="modal-content modal-dialog">
    <mat-dialog-content class="mat-typography modal-body modal-details text-start">
      <h3 class="titulo">
        Información
      </h3>
      <div class="row">
        <div class="col-12 ">
          <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Detalles">
              <div class="info" *ngIf="objectDetails">
                <strong> {{ objectDetails.courier_type }} </strong><label class="mb-3"> Tipo de mensajería</label>
                <strong> {{ objectDetails.description }} </strong><label class="mb-3"> Descripción</label>

                <strong> {{ objectDetails.status }} </strong><label class="mb-3"> Estado</label>
                <strong> {{ objectDetails.created_at }} </strong><label class="mb-3"> Fecha de creación </label>
                <strong> {{ objectDetails.updated_at }} </strong><label class="mb-3"> Fecha de actualizacion
                </label>
                <strong *ngIf="objectDetails.deleted_at"> {{ objectDetails.deleted_at }} </strong><label class="mb-3"
                  *ngIf="objectDetails.deleted_at"> Fecha de eliminación </label>
              </div>
            </mat-tab>
            <mat-tab label="Mensajerias">
              <div *ngIf="objectDetails.couriers">
                <div class="logistify-table table-delete-false" *ngIf="objectDetails.couriers.length > 0">
                  <table mat-table matSort class="w-100" [dataSource]="objectDetails.couriers">
                    <ng-container matColumnDef="courier">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mensajería</th>
                      <td mat-cell *matCellDef="let element"> {{element.courier}} </td>
                    </ng-container>
                    <ng-container matColumnDef="phone">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
                      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columsDetails_Couriers"></tr>
                    <tr mat-row *matRowDef="let row; columns: columsDetails_Couriers;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[15, 30, 45]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
                <strong class="p-2 d-block" *ngIf="objectDetails.couriers.length === 0">
                  No existen elementos para mostrar.</strong>
              </div>
            </mat-tab>
            <mat-tab label="Productos">
              <div *ngIf="objectDetails.services">
                <div class="logistify-table table-delete-false" *ngIf="objectDetails.services.length > 0">
                  <table mat-table matSort class="w-100" [dataSource]="objectDetails.services">
                    <ng-container matColumnDef="service">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
                      <td mat-cell *matCellDef="let element"> {{element.service}} </td>
                    </ng-container>
                    <ng-container matColumnDef="delivery_days">
                      <th mat-header-cell *matHeaderCellDef> Días de entrega </th>
                      <td mat-cell *matCellDef="let element"> {{element.delivery_days}} </td>
                    </ng-container>
                    <ng-container matColumnDef="guaranteed_delivery">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Entrega garantizada </th>
                      <td mat-cell *matCellDef="let element"> {{element.guaranteed_delivery}} </td>
                    </ng-container>
                    <ng-container matColumnDef="multi_piece">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Multiples piezas </th>
                      <td mat-cell *matCellDef="let element"> {{element.multi_piece}} </td>
                    </ng-container>
                    <ng-container matColumnDef="international">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Internacional </th>
                      <td mat-cell *matCellDef="let element"> {{element.international}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columsDetails_Services"></tr>
                    <tr mat-row *matRowDef="let row; columns: columsDetails_Services;"></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[15, 30, 45]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                  </mat-paginator>
                </div>
                <strong class="p-2 d-block" *ngIf="objectDetails.services.length === 0">
                  No existen elementos para mostrar.</strong>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-dialog-content>
    <button class="btn btn-morado btn-cuadrado" type="button" mat-dialog-close>
      Cerrar
    </button>
  </div>
</div>
