<div class="modal-general">
  <div class="modal-content modal-dialog">
    <mat-dialog-content class="mat-typography modal-body">
      <h3 class="titulo">
        Actualizar
      </h3>
      <h4>
        Completa los datos para actualizar
      </h4>
      <form [formGroup]="updateForm" class="form form-step" (ngSubmit)="onSubmit()">
        <div class="pasos current" data-step="step-1">
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Tiempos de entrega</mat-label>
                <input matInput type="text" formControlName="delivery_time"
                  [ngClass]="{ 'is-invalid': submittedForm && updateForm.get('delivery_time')?.errors }">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput type="text" formControlName="description"
                  [ngClass]="{ 'is-invalid': submittedForm && updateForm.get('description')?.errors }">
              </mat-form-field>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="can_enable_u"
                  formControlName="status">
                <label class="form-check-label" for="can_enable_u">
                  ¿Está Disponible?
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <small class="error d-block text-start invalid-feedback mt-2" *ngIf="errorMessages"
              [innerHTML]="errorMessages"></small>
          </div>
        </div>

        <div class="controls">
          <button type="submit" class="btn btn-secondary w-100 mt-3">
            Actualizar
          </button>
        </div>
      </form>
    </mat-dialog-content>
    <button class="btn btn-morado btn-cuadrado" type="button" mat-dialog-close>
      Cancelar
    </button>
  </div>
</div>